---
layout: layout.njk
permalink: /secret/
---

<section class="secret">
  <h1 class="secret__title">Hai trovato il pesce! 🐟</h1>
  <p class="secret__text">
    Complimenti, sei un vero detective.<br>
    Questa pagina segreta è ancora in costruzione...<br>
    Torna a trovarci!
  </p>
  <a href="/" class="secret__back">Torna al sito</a>
</section>
