---
layout: layout.njk
permalink: /secret/
---

<section class="secret">
  <h1 class="secret__title">Hai trovato il pesce! 🐟</h1>
  <div class="secret__video">
    <iframe
      src="https://www.youtube.com/embed/Iuhr4305cVI"
      title="Easter egg video"
      allowfullscreen
      loading="lazy">
    </iframe>
  </div>
  <a href="{{ '/' | url }}" class="secret__back">Torna al sito</a>
</section>
